<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    %title
      A no-equipment workout collection

    %link(href="style.css" rel="stylesheet")

  %body
    %img.exercise
    %div.trainer
      .timer
      .title
      .activity

  <!-- jQuery  -->
  %script(src="http://code.jquery.com/jquery-2.1.0.min.js")
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  %script(src="index.js")
  %script(src="underscore.js")
