body {
  img.exercise {
    max-height: 100%;
    max-width: 100%;
  }
  .trainer {
    float: right;
    text-align: center;
  }
  .interset_break {
    color: green;
  }
  .break {
    color: green;
  }
  .exercise {
    color: red;
  }
}
